@model CramSchoolManagement.Models.students_m

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>新規作成</h2>

@using (Html.BeginForm("Create", "students_m", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.students_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.students_id, new { htmlAttributes = new { @class = "form-control", @Value = Guid.NewGuid().ToString(), @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.students_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.middle_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.schools_m.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("school_id", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.school_id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.school_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("gender_id", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.gender_id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.gender_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.club, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.club, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.club, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.office_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("office_id", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.gender_id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.office_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("顔写真", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="face_img" name="face_img" />
                @*@Html.EditorFor(model => model.face, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.face, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postal_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postal_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.postal_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hope_school, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("hope_school", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.hope_school, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.hope_school, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.enter_school, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("enter_school", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.enter_school, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.enter_school, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row row-eq-height btn-group form-group" data-toggle="buttons" style="margin-top: 10px;">
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <p class="btn control-label">出席可能曜日</p>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <label class="control-label btn">
                    @Html.CheckBoxFor(model => model.attend_mon)
                    @Html.DisplayNameFor(model => model.attend_mon)
                </label>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <label class="control-label btn">
                    @Html.CheckBoxFor(model => model.attend_tue)
                    @Html.DisplayNameFor(model => model.attend_tue)
                </label>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <label class="control-label btn">
                    @Html.CheckBoxFor(model => model.attend_wed)
                    @Html.DisplayNameFor(model => model.attend_wed)
                </label>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <label class="control-label btn">
                    @Html.CheckBoxFor(model => model.attend_thurs)
                    @Html.DisplayNameFor(model => model.attend_thurs)
                </label>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-2">
                <label class="control-label btn">
                    @Html.CheckBoxFor(model => model.attend_fri)
                    @Html.DisplayNameFor(model => model.attend_fri)
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="作成する" class="btn btn-danger btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("一覧へ戻る", "Index", null, new { @class = "btn btn-primary" })
</div>
