@model CramSchoolManagement.Models.students_m

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>削除</h2>

<h3>以下の生徒を削除します。関連するデータも削除されます。よろしいですか？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.school_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.school_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            顔写真
        </dt>

        <dd>
            @if (Model.students_face.Any(f => f.FileType == "Image"))
            {
                <img src="~/students_face?id=@Model.students_face.First(f => f.FileType == "Image").FileId" alt="face_img" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hope_school)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schools_m.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enter_school)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schools_m.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="本当に削除する" class="btn btn-danger" /> |
            @Html.ActionLink("一覧へ戻る", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
