@model CramSchoolManagement.Models.students_m

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>削除</h2>

<h3>以下の生徒を削除します。関連するデータも削除されます。よろしいですか？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.school_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.school_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.offices_m.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offices_m.name)
        </dd>

        <dt>
            顔写真
        </dt>

        <dd>
            @if (Model.students_face.Any(f => f.FileType == "Image"))
            {
                <img src="~/students_face?id=@Model.students_face.First(f => f.FileType == "Image").FileId" alt="face_img" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hope_school)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hope_school_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enter_school)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enter_school_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

    </dl>

    <div class="row row-eq-height btn-group" data-toggle="buttons" style="margin-top: 10px;">
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <p class="btn">出席可能曜日</p>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <label class="control-label btn">
                @Html.CheckBoxFor(model => model.attend_mon, new { @checked = Model.attend_mon, @class = "", @disabled = "disabled" })
                @Html.DisplayNameFor(model => model.attend_mon)
            </label>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <label class="control-label btn">
                @Html.CheckBoxFor(model => model.attend_tue, new { @checked = Model.attend_mon, @class = "", @disabled = "disabled" })
                @Html.DisplayNameFor(model => model.attend_tue)
            </label>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <label class="control-label btn">
                @Html.CheckBoxFor(model => model.attend_wed, new { @checked = Model.attend_mon, @class = "", @disabled = "disabled" })
                @Html.DisplayNameFor(model => model.attend_wed)
            </label>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <label class="control-label btn">
                @Html.CheckBoxFor(model => model.attend_thurs, new { @checked = Model.attend_mon, @class = "", @disabled = "disabled" })
                @Html.DisplayNameFor(model => model.attend_thurs)
            </label>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <label class="control-label btn">
                @Html.CheckBoxFor(model => model.attend_fri, new { @checked = Model.attend_mon, @class = "", @disabled = "disabled" })
                @Html.DisplayNameFor(model => model.attend_fri)
            </label>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="本当に削除する" class="btn btn-danger" /> |
            @Html.ActionLink("一覧へ戻る", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
