@model CramSchoolManagement.Models.students_m

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        @if (Model.students_face.Any(f => f.FileType == "Image"))
        {
            <img src="~/students_face?id=@Model.students_face.First(f => f.FileType == "Image").FileId" alt="face_img" />
        }
    </div>
    <div class="col-sm-8">
        <h2>@Html.DisplayFor(model => model.display_name)</h2>
        <h3>@Html.DisplayFor(model => model.schools_m.name)</h3>
        <div class="row">
            <h4 class="col-xs-6">@Html.DisplayFor(model => model.gender_m.gender_name)</h4>
            <h4 class="col-xs-6">@Html.DisplayFor(model => model.birthday)</h4>
        </div>
    </div>
</div>
    
    <hr />

<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(model => model.postal_code)
    </div>

    <div class="col-md-12">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="col-md-12">
        @Html.DisplayFor(model => model.phone_number)
    </div>

    

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.last_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.first_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.first_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.middle_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.middle_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.schools_m.name)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender_m.gender_name)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.birthday)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.face)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.postal_code)
            </dt>

            <dd>
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone_number)
            </dt>

            <dd>
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hope_school)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.schools_m.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.enter_school)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.schools_m.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.create_user)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.create_user)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.create_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.create_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.update_user)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.update_user)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.update_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.update_date)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.students_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>