@model CramSchoolManagement.Models.students_m

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        @if (Model.students_face.Any(f => f.FileType == "Image"))
        {
            <img src="~/students_face?id=@Model.students_face.First(f => f.FileType == "Image").FileId" alt="face_img" class="img-rounded img-responsive"/>
        }
    </div>
    <div class="col-sm-8">
        <h2>@Html.DisplayFor(model => model.display_name)</h2>
        <h3>@Html.DisplayFor(model => model.schools_m.name)</h3>
        <div class="row">
            <h4 class="col-xs-6">性別：@Html.DisplayFor(model => model.gender_m.gender_name)</h4>
            <h4 class="col-xs-6">誕生日：@DateTime.Parse(Model.birthday).ToString("yyyy年MM月dd日")</h4>
            <h4 class="col-xs-6">年齢：@CramSchoolManagement.Commons.Utility.AgeCal((Model.birthday))</h4>
            <h4 class="col-xs-6">学年：@Html.DisplayFor(model => model.grade)</h4>
        </div>
    </div>
</div>
    
    <hr />

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.postal_code)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">〒@Html.DisplayFor(model => model.postal_code)</p>
</div>

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.address)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">@Html.DisplayFor(model => model.address)</p>
</div>

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.phone_number)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">@Html.DisplayFor(model => model.phone_number)</p>
</div>

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.hope_school)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">@Html.DisplayFor(model => model.schools_m.name)</p>
</div>

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.enter_school)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">@Html.DisplayFor(model => model.schools_m.name)</p>
</div>

<div class="row row-eq-height">
    <p class="col col-xs-12 col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.note)</p>
    <p class="col col-xs-12 col-sm-9 col-md-10">@Html.Raw(Html.Encode(Model.note).Replace("\n", "<br/>"))</p>
</div>

<div class="row row-eq-height">
    <div class="col col-xs-12 col-sm-12 col-md-2"><p class="btn">好きな科目</p></div>
    @foreach (var x in Model.students_like_dislike.Where(s => s.like_dislike == CramSchoolManagement.Commons.Utility.likedislike_items["好き"]))
    {
        <div class="col-xs-12 col-sm-3 col-md-2">
            <p class="btn btn-success center-block">
                @CramSchoolManagement.Commons.Utility.GetClassName(x.class_id)
            </p>
        </div>
    }
    </div>

<div class="row row-eq-height" style="margin-top: 10px;">
    <div class="col col-xs-12 col-sm-12 col-md-2"><p class="btn">苦手な科目</p></div>
    @foreach (var x in Model.students_like_dislike.Where(s => s.like_dislike == CramSchoolManagement.Commons.Utility.likedislike_items["苦手"]))
    {
        <div class="col-xs-12 col-sm-3 col-md-2">
            <p class="btn btn-warning center-block">
                @CramSchoolManagement.Commons.Utility.GetClassName(x.class_id)
            </p>
        </div>
    }
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 col-sm-12 col-md-2">
        <p>
            @Html.RouteLink("好き苦手科目を編集する", "Students_id_route", new { controller = "students_like_dislike", students_id = Model.students_id }, new { @class = "btn" })
        </p>
    </div>
</div>

    <hr />
        @*<div>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.create_user)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.create_user)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.create_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.create_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.update_user)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.update_user)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.update_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.update_date)
                </dd>

            </dl>
        </div>*@
        <p>
            @Html.ActionLink("編集する", "Edit", new { id = Model.students_id }, new { @class = "btn btn-danger" }) |
            @Html.ActionLink("一覧へ戻る", "Index", null, new { @class = "btn btn-primary" })
        </p>
