@model IEnumerable<CramSchoolManagement.Models.students_m>

@{
    ViewBag.Title = "生徒一覧";
    Layout = "~/Views/Shared/_Honoka.cshtml";

    DateTime today = ViewBag.today;
    DateTime monday = ViewBag.monday;
    DateTime friday = ViewBag.friday;
    DateTime FDM = ViewBag.FDM;
    DateTime LDM = ViewBag.LDM;
}

<h2>@ViewBag.Title</h2>

<h3 class="text-danger">@ViewBag.Message</h3>

<p>
    @Html.ActionLink("生徒新規登録", "Create", null, new { @class = "print_display_none" })
</p>

@using (Html.BeginForm("Index", "students_m", null, FormMethod.Get, new { @class = "form-inline form-group" }))
{
    
    <div class="form-group">
        @Html.Label("school_id", " 学校名：", new { @class = "control-label" })
        @Html.DropDownList("school_id", null, "", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("school_grade", " 学年：", new { @class = "control-label" })
        @Html.DropDownList("school_grade", null, "", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="検索" class="btn btn-info" />
    </div>

}

        <table id="student_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.display_name)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.schools_m.name)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.grade)
                    </th>
                    <th>情報選択</th>
                    <th>出席</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.display_name, "Details", new { id = item.students_id })
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.schools_m.name)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.grade)
                        </td>
                        <td>
                            @Html.RouteLink("出席", "Students_id_route", new { controller = "students_attendance", students_id = item.students_id }) |
                            @{
                                var month_guide = item.students_guide.Where(x => x.guide_date >= FDM && x.guide_date <= LDM);
                                var week_guide = month_guide.Where(x => x.guide_date >= monday && x.guide_date <= friday);
                                if (month_guide.Count() == 0)
                                {
                                    @Html.RouteLink("指導", "Students_id_route", new { controller = "students_guide", students_id = item.students_id }, new { @class = "text-danger" })
                                }
                                else if (week_guide.Count() == 0)
                                {
                                    @Html.RouteLink("指導", "Students_id_route", new { controller = "students_guide", students_id = item.students_id }, new { @class = "text-warning" })
                                }
                                else
                                {
                                    @Html.RouteLink("指導", "Students_id_route", new { controller = "students_guide", students_id = item.students_id })
                                }
                            } |
                            @Html.RouteLink("成績", "Students_id_route", new { controller = "students_grade", students_id = item.students_id, division_id = item.schools_m.division_id }) |
                            @Html.RouteLink("面談", "Students_id_route", new { controller = "students_interview", students_id = item.students_id }) |
                            @{
                                var week_independent = item.students_independence.Where(x => x.week >= monday && x.week <= friday);
                                if (week_independent.Count() == 0)
                                {
                                    @Html.RouteLink("自立", "Students_id_route", new { controller = "students_independence", students_id = item.students_id }, new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.RouteLink("自立", "Students_id_route", new { controller = "students_independence", students_id = item.students_id })
                                }
}     
                        </td>
                        <td>
                            @{
                                var today_attend = item.students_attendance.FirstOrDefault(x => x.attendance_day == today.Date);
                                if (today_attend == null)
                                {
                                    @Html.ActionLink("出席", "CheckIn", new { id = item.students_id }, new { @class = "btn btn-info btn-sm" });
                                }
                                else if(today_attend.end_time == null)
                                {
                                    @Html.ActionLink("退席", "CheckOut", new { id = item.students_id }, new { @class = "btn btn-warning btn-sm" });
                                }
                                else
                                {
                                    
                                }
}
                        </td>
                        @*<td>
                        @Html.ActionLink("バーコード", "StudentBarCode", new { id = item.students_id }, new { @class = "btn btn-sm" })
                    </td>*@
                    </tr>
                }
            </tbody>
        </table>




@section scripts{

@Styles.Render("~/Content/DataTablescss")
@Scripts.Render("~/bundles/DataTablesjs")

    <script type="text/javascript">

        $.extend($.fn.dataTable.defaults, {
            language: {
                "sProcessing": "処理中...",
                "sLengthMenu": "_MENU_ 件表示",
                "sZeroRecords": "データはありません。",
                "sInfo": " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty": " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix": "",
                "sSearch": "検索:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "先頭",
                    "sPrevious": "前",
                    "sNext": "次",
                    "sLast": "最終"
                }
            }
        });

        jQuery(function ($) {

            $("#student_list").dataTable({
                stateSave: true
            });
        });

    </script>

}