@model IEnumerable<CramSchoolManagement.Models.students_m>

@{
    ViewBag.Title = "生徒一覧";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Announce</h3>

<p>
    @Html.ActionLink("生徒新規登録", "Create")
</p>

@using (Html.BeginForm("Index", "students_m", null, FormMethod.Get, new { @class = "form-inline form-group" }))
{
    <div class="form-group">
        @Html.Label("school_id", " 学校名：", new { @class = "control-label" })
        @Html.DropDownList("school_id", null, "", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("school_grade", " 学年：", new { @class = "control-label" })
        @Html.DropDownList("school_grade", null, "", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("office_id", " 教室名：", new { @class = "control-label" })
        @Html.DropDownList("office_id", null, "", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="検索" class="btn btn-info" />
    </div>

}

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.display_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.schools_m.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.offices_m.name)
                </th>
                <th>情報選択</th>
                <th>出席</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.display_name, "Details", new { id = item.students_id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.schools_m.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.offices_m.name)
                    </td>
                    <td>
                        @Html.RouteLink("出席", "Students_id_route", new { controller = "students_attendance", students_id = item.students_id }) |
                        @Html.RouteLink("指導", "Students_id_route", new { controller = "students_guide", students_id = item.students_id }) |
                        @Html.RouteLink("成績", "Students_id_route", new { controller = "students_grade", students_id = item.students_id }) |
                        @Html.RouteLink("面談", "Students_id_route", new { controller = "students_interview", students_id = item.students_id })
                    </td>
                    <td>
                        @if (CramSchoolManagement.Commons.Utility.GetAttend(item.students_id))
                        {
                            @Html.ActionLink("退席", "CheckOut", new { id = item.students_id })
                        }
                        else
                        {
                            @Html.ActionLink("出席", "CheckIn", new { id = item.students_id })
                        }
                    </td>
                </tr>
            }

        </table>
