@model IEnumerable<CramSchoolManagement.Models.students_m>

@{
    ViewBag.Title = "生徒一覧";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("生徒新規登録", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schools_m.name)
        </th>
        <th>@Html.DisplayNameFor(model => model.grade)</th>
        <th>情報選択</th>
        <th>生徒編集</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schools_m.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.RouteLink("出席", "Students_id_route", new { controller = "students_attendance", students_id = item.students_id }) |
            @Html.RouteLink("指導", "Students_id_route", new { controller = "students_guide", students_id = item.students_id }) |
            @Html.RouteLink("成績", "Students_id_route", new { controller = "students_grade", students_id = item.students_id })
        </td>
        <td>
            @Html.ActionLink("詳細", "Details", new { id = item.students_id }) |
            @Html.ActionLink("編集", "Edit", new { id=item.students_id }) |
            @Html.ActionLink("削除", "Delete", new { id=item.students_id })
        </td>
    </tr>
}

</table>
