@model CramSchoolManagement.Areas.Students.Models.students_guide

@{
    ViewBag.Title = "生徒指導編集";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.guide_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guide_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teachers_m.display_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teachers_m.display_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classes_m.display_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classes_m.display_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guide_contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guide_contents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { num = Model.students_guide_id }) |
    @Html.ActionLink("生徒指導一覧へ戻る", "Index")
</p>
