@model IEnumerable<CramSchoolManagement.Areas.Students.Models.students_guide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("新規指導登録", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guide_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teachers_m.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classes_m.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guide_contents)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guide_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teachers_m.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classes_m.name)
        </td>
        <td>
            @Html.Raw(Html.Encode(item.guide_contents).Replace("\n", "<br/>"))
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.students_guide_id }) |
            @Html.ActionLink("削除", "Delete", new { id=item.students_guide_id })
        </td>
    </tr>
}

</table>
