@model CramSchoolManagement.Areas.Students.Models.students_grade[]

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<h3>本当に削除してもよろしいですか？</h3>
<div>
    <h4>生徒成績削除</h4>
    <hr />
    @foreach (var deleteItems in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => deleteItems.exam_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => deleteItems.exam_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => deleteItems.exams_m.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => deleteItems.exams_m.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => deleteItems.classes_m.display_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => deleteItems.classes_m.display_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => deleteItems.exam_scores)
            </dt>

            <dd>
                @Html.DisplayFor(model => deleteItems.exam_scores)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => deleteItems.exam_precedence)
            </dt>

            <dd>
                @Html.DisplayFor(model => deleteItems.exam_precedence)
            </dd>

        </dl>
    }
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("生徒成績一覧へ戻る", "Index", new { division_id = ViewBag.division_id })
        </div>
    }
</div>
