@model IEnumerable<CramSchoolManagement.Areas.Students.Models.students_grade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("新規成績登録", "Create")
</p>

@foreach (var group in Model.OrderByDescending(item => item.exam_id).GroupBy(item => item.exam_id))
{
    <h3>@Html.Encode(CramSchoolManagement.Commons.Utility.GetExamName(group.Key))</h3>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classes_m.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_scores)
        </th>
        <th></th>
    </tr>

@foreach (var item in group)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classes_m.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_scores)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { num = item.students_grade_id }) |
            @Html.ActionLink("削除", "Delete", new { num = item.students_grade_id })
        </td>
    </tr>
}

</table>

}

<div>
    @Html.RouteLink("生徒一覧へ戻る", "Default", new { controller = "students_m" })
</div>
