@model IEnumerable<CramSchoolManagement.Areas.Students.Models.students_grade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.students_m.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exams_m.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classes_m.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_scores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.students_m.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exams_m.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classes_m.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_scores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.students_grade_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.students_grade_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.students_grade_id })
        </td>
    </tr>
}

</table>
