@model IEnumerable<CramSchoolManagement.Areas.Students.Models.students_grade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("新規成績登録", "Create")
</p>

@foreach (var group in Model.OrderByDescending(item => item.exam_id).GroupBy(item => item.exam_id))
{
    <h3>@Html.Encode(CramSchoolManagement.Commons.Utility.GetExamName(group.Key))</h3>
    <h4>合計点数：@Html.Encode(group.Sum(p => p.exam_scores)) 点</h4>
    @*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classes_m.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_scores)
        </th>
        <th></th>
    </tr>*@

    <div class="row">

        @foreach (var item in group)
        {
            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.classes_m.display_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.exam_scores)
                    </td>
                    <td>
                        @Html.ActionLink("編集", "Edit", new { num = item.students_grade_id }) |
                        @Html.ActionLink("削除", "Delete", new { num = item.students_grade_id })
                    </td>
                </tr>*@

            <div class="col-sm-2 col-xs-4">
                <h5 class="text-center grade_border_title">@Html.DisplayFor(modelItem => item.classes_m.display_name)</h5>
                <p class="text-center grade_border_score">@Html.DisplayFor(modelItem => item.exam_scores) 点</p>
                <p class="text-center grade_border_precedence">@Html.DisplayFor(modelItem => item.exam_precedence) 位</p>
                <p class="text-center">
                    @Html.ActionLink("編集", "Edit", new { num = item.students_grade_id })
                </p>
            </div>
        }

        @*</table>*@

    </div>
}

<div>
    @Html.RouteLink("生徒一覧へ戻る", "Default", new { controller = "students_m" })
</div>
