@model IEnumerable<CramSchoolManagement.Areas.Settings.Models.age_m>

@{
    ViewBag.Title = "学年一覧";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("学年新規作成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.divisions_m.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.divisions_m.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.age_id }) |
            @Html.ActionLink("削除", "Delete", new { id=item.age_id })
        </td>
    </tr>
}

</table>
