@model CramSchoolManagement.Areas.Settings.Models.gender_m

@{
    ViewBag.Title = "性別編集";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>@Html.Raw(Model.gender_name)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.gender_id)
        @Html.HiddenFor(model => model.create_user)
        @Html.HiddenFor(model => model.create_date)

        <div class="form-group">
            @Html.LabelFor(model => model.gender_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gender_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="更新" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("性別一覧へ戻る", "Index")
</div>
