@model IEnumerable<CramSchoolManagement.Areas.Settings.Models.gender_m>

@{
    ViewBag.Title = "性別一覧";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("性別新規作成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gender_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gender_name)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.gender_id }) |
            @Html.ActionLink("削除", "Delete", new { id=item.gender_id })
        </td>
    </tr>
}

</table>
