@model IEnumerable<CramSchoolManagement.Areas.Students.Models.students_like_dislike>

@{
    ViewBag.Title = "好き苦手一覧";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>@ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("新規好き苦手登録", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classes_m.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.like_dislike)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classes_m.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display_like_dislike)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { num = item.students_like_dislike_id }) |
            @Html.ActionLink("削除", "Delete", new { num = item.students_like_dislike_id })
        </td>
    </tr>
}

</table>
