@model CramSchoolManagement.Areas.Settings.Models.teachers_m

@{
    ViewBag.Title = "講師詳細";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>@Html.Raw(Model.display_name)</h2>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teachers_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teachers_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender_m.gender_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_m.gender_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.administrator_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("講師一覧へ戻る", "Index")
</p>
