@model CramSchoolManagement.Areas.Settings.Models.teachers_m

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>Details</h2>

<div>
    <h4>teachers_m</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teachers_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teachers_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender_m.gender_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_m.gender_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.administrator_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.administrator_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
